.button {
  background-color: #ffdd00;
  border: 7px solid rgb(0, 0, 0);
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  cursor: pointer;
  margin: 4px 2px;
  transition-duration: 0.4s;
  color: black;
}

.button:hover {
  background-color: rgb(255, 0, 0);
  color: rgb(255, 191, 0);
}


