header {
  width: 240px;
  margin: auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 7px solid black;
}

body {
  /*background-image: url(../bilder/UndyneFight.webp);*/
  background-size: cover;
  background-color: black;
height: fill;
}

/*trenger hjelp med boarder*/

.container {
  display: flex;
  background-color: rgb(0, 0, 0);
  border:#ffffff;
  border-style:solid ;
  border-width: 10px;
  margin-top: 310px;
  margin-left: 42.5%;
  width: 200px;
  height: 200px;
}

.container div {
  margin-top: 25%;
  margin-left: 24%;
  padding: 20px;
  font-size: 24px;
  width: 75px;
  height: 75px;
}

canvas {
  height: 100%;
  width: 100%;
  display: block;
}

/*
section {
  background-color: aqua;
}

nav {
  background-color: blueviolet;
}
*/
/*aside {
  background-color: chartreuse;
}*/
/*
footer {
  background-color: brown;
}
  */