header {
  width: 240px;
  margin: auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 7px solid black;
}

body {
  background-image: url(../bilder/UndyneFight.webp);
  background-size: cover;
height: fill;
}

/*trenger hjelp med boarder*/

.container {
  display: flex;
  background-color: rgb(0, 0, 0);
  border:#ffffff;
  border-style:solid ;
  border-width: 10px;
  margin-top: 310px;
  margin-left: 650px;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.container div {
  margin: 10px;
  padding: 20px;
  font-size: 24px;
  width: 75px;
  height: 75px;
}

.container2 {

}
/*
section {
  background-color: aqua;
}

nav {
  background-color: blueviolet;
}
*/
aside {
  background-color: chartreuse;
}
/*
footer {
  background-color: brown;
}
  */