header {
  width: 240px;
  margin: auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 7px solid black;
}
body {
  background-image: url(../bilder/UndyneFight.webp);
  background-size: cover;
height: fill;
}
.container {
  display: flex;
  background-color: rgb(0, 0, 0);
  border:#ffffff;
  border-width: 20px;
  margin-top: 340px;
  margin-left: 662px;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.container div {
  background-color: #ffffff;
  margin: 10px;
  padding: 20px;
  font-size: 24px;
  width: 75px;
  height: 75px;
}